.form-control {
    margin: 20px 0;
}

.release-date {
    margin-top: 23px;
}

label.release-date {
    text-align: right;
}

.years {
    float: left;
    border: 1px solid darkgray;
    padding: 50px;
}

.downloads {
    float: left;
    transform: rotateX('90');
}

.downloads-0 {
    color: white;
    background-color: brown;
} 
.downloads-1 {
    color: white;
    background-color: darkslateblue;
} 
.downloads-2 {
    background-color: olive;
} 
.downloads-3 {
    background-color: orange;
}