<div class="container">
    <div class="row release-date">
        <div class="col-md-2 from"><label for="monthSelector" class="col-md-2">From</label></div>
        <div class="col-md-6">
            <select id="monthSelector" class="form-select" [ngModel]="downloadMonth.value" (ngModelChange)="onChange($event)">
                <option *ngFor="let month of monthList" [value]="month.value">{{month.display}}</option>
            </select>
        </div>
        <div class="col-md-2 to"><label>&nbsp;to&nbsp;{{previousMonth}}</label></div>
    </div>
    <div *ngFor="let year of years" class="years">
        <h2>{{year}}</h2>
        <div *ngFor="let item of software | downloadFilter: year; let i = index" class="">
            <div class="software downloads-{{item.software}}">
                    {{item.softwareDescription}} - {{item.count}}
            </div>
        </div>
    </div>
</div>