.form-control {
    margin: 20px 0;
}

.release-date {
    margin-top: 23px;
}

label.release-date {
    text-align: right;
}

.years {
    float: left;
    padding: 50px;
}

.years h2 {
    text-align: center;
}

.downloads {
    float: left;
}

.software {
    text-align: center;
    padding: 5px 20px;
}

.downloads-mccl {
    color: white;
    background-color: brown;
} 
.downloads-wpf {
    color: white;
    background-color: darkslateblue;
} 
.downloads-matlab {
    background-color: olive;
} 
.downloads-mie {
    background-color: orange;
}