.form-control {
    margin: 20px 0;
}

.release-date {
    margin-top: 23px;
}

.release-date .from {
    text-align: right;
    padding-top: 8px;
}

.release-date .to {
    text-align: left;
    padding-top: 8px;
}

.years {
    float: left;
    padding: 20px 40px;
    min-height: 260px;
}

.years h2 {
    text-align: center;
}

.downloads {
    float: left;
}

.software {
    text-align: center;
    padding: 5px 20px;
}

.downloads-mccl-vts {
    color: white;
    background-color: brown;
} 
.downloads-mccl {
    color: white;
    background-color: brown;
} 
.downloads-wpf {
    color: white;
    background-color: darkslateblue;
} 
.downloads-matlab {
    color: white;
    background-color: olive;
} 
.downloads-mie {
    background-color: orange;
}
.downloads-python {
    background-color: gold;
}