<div>
  <h1 style="text-align: center">
    Welcome to {{ title }}!
  </h1>
</div>
<div id="content" class="row">
  <div id="input-column" class="col">
    <ul id="input-tabs" class="nav nav-tabs">
      <li class="nav-item"><a id="sd-tab" data-toggle="tab" role="tab" class="nav-link active" href="#sd">Software Downloads by Product</a></li>
      <li class="nav-item"><a id="td-tab" data-toggle="tab" role="tab" class="nav-link" href="#td">Total Downloads</a></li>
    </ul>
    <div id="input-content" class="tab-content">
      <div id="sd" role="tabpanel" class="tab-pane fade show active">
        <div class="panel">
          <release-downloads></release-downloads>
        </div>
      </div>
      <div id="td" role="tabpanel" class="tab-pane fade">
        <div class="panel">
          <total-downloads></total-downloads>
        </div>
      </div>
    </div>
  </div>
</div>

